*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box ;
    font-family: 'Poppins', sans-serif;
    scroll-behavior:smooth;
    outline: none;
    }
    
    body{
        min-height: 100vh  ;
        overflow-x: hidden;
        background: linear-gradient(#ffffff,	#ffffff);
    }
    header{
    position: absolute;
    top: 0; 
    Left: 0;
    width: 100%; 
    padding: 30px 100px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    align-items: center;
    z-index: 10000;
    }
    
    header .logo{
    font-family:Shadows Into Light;
    color: rgb(0, 0, 0); 
    font-weight: 700; 
    text-decoration: none; 
    font-size: 2em;
    letter-spacing: 2px;
    }
    header ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header ul li{
        list-style: none;
        margin-left: 20px;
    }
    header ul li a{
        text-decoration: none;
        padding: 6px 15px;
        color: rgb(0, 0, 0);
        border-radius: 20px;
    }
    header ul li a:hover,
    header ul li a.active{
        background-color: rgb(218, 163, 163);
        color: #000;
    }
    * {
        box-sizing: border-box;
      }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-left: 5%;
    margin-top: 10%;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-left: 30%;
    position: absolute;
    top:20.4%;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card1 button:hover {
    opacity: 0.7;
  }
  .card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-left: 55%;
    position: absolute;
    top:20.4%;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card2 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card2 button:hover {
    opacity: 0.7;
  }
  .card3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-left: 80%;
    position: absolute;
    top:20.4%;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card3 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card3 button:hover {
    opacity: 0.7;
  }
  .card4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
   position: absolute;
    text-align: center;
    font-family: arial;
    margin-left: 5%;
    top: 70%;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card4 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card4 button:hover {
    opacity: 0.7;
  }

  .card5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-left: 30%;
    position: absolute;
    top:70%;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card5 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card5 button:hover {
    opacity: 0.7;
  }
  .card6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-left: 55%;
    position: absolute;
    top:70%;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card6 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card6 button:hover {
    opacity: 0.7;
  }
  .card7{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    font-family: arial;
    margin-left: 80%;
    position: absolute;
    top:70%;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card7 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card7 button:hover {
    opacity: 0.7;
  }